* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    /* width: 15%; */
    padding: 10px 15px;
    background-color: #abf0ae;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.text {
    max-height: 300px;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:nth-child(even) {
    background-color: #e5e5e5;
}

.delete {
    color: #f44336;
    font-size: 18px;
    cursor: pointer;
}

.delete:hover {
    color: #da190b;
}

.edit {
    color: #2196f3;
    font-size: 18px;
    cursor: pointer;
}

.edit:hover {
    color: #1e88e5;
}